{% extends 'app/layout.html' %}
  {% block title %}{{ post.title }}{% endblock %}

  {% load static %}


  {% block content %}
    {% if post.image %}
        <img class="photopost" src="{{ post.image.url }}" alt="Изображение статьи" />
    {% endif %}

<section>
    <h1>{{ post.title }}</h1>
    <p class="date post-date">{{ post.posted }}</p>
    <div class="content"><p>{{ post.content|linebreaksbr }}</p>  </div>
    <a href="{% url 'blog_list' %}" class="back-link">Назад к списку</a>
</section>

      {% if user.is_authenticated %}
<section class="comment-section">
    <form method="post" class="comment-form">
        <h3>Добавить комментарий</h3>
        {% csrf_token %}
        <div>
            {{ form.as_p }}
            <button type="submit" class="submit-button">Отправить комментарий</button>
        </div>
    </form>
</section>
      {% else %}
<h3>Для добавления комментария необходимо авторизоваться.</h3>
      {% endif %}
      {% for comment in comments %}

<section class="comment-section">
    <p class="date comment-date">{{ comment.date }}</p>
    <h4>{{ comment.author }}</h4>
    <p>{{ comment.text|linebreaksbr }}</p>
</section>
      {% endfor %}
  {% endblock %}