{% extends "app/layout.html" %}

{% load static %}

{% block content %}

<div class="jumbotron">
    <h1>Добро пожаловать в Лавку Некроманта!</h1>
    <p>Создание и оживление фигурок - это целое искусство. Современная магия 3D-печати позволяет достигать невероятной детализации оболочки. После того, как сосуд Вашего персонажа создан, наши мастера делают всё возможное, чтобы вдохнуть красок в его тело и придать живой облик.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Новости</h2>
        <p>
            Совсем скоро в продажу поступят дьявольские и небожительские кубы. Следите за анонсами в нашем Telegram-канале!
        </p>
    </div>
</div>

<div class="glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <li class="glide__slide"><img src="{% static 'app/content/karusel1.png' %}" alt="Image1"></li>
            <li class="glide__slide"><img src="{% static 'app/content/karusel2.png' %}" alt="Image2"></li>
            <li class="glide__slide"><img src="{% static 'app/content/karusel3.png' %}" alt="Image3"></li>
        </ul>
    </div>
    <div data-glide-el="controls" class="glide-controls">
        <button data-glide-dir="<">Назад</button>
        <button data-glide-dir=">">Далее</button>
    </div>
</div>
<script>new Glide('.glide', {
              type: 'carousel',
              autoplay: 3000,
              hoverpause: true,
              perView: 1,
          }).mount();</script>

{% endblock %}
