{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Добро пожаловать в Лавку Некроманта!</h1>
    <p>Создание и оживление фигурок - это целое искусство. Современная магия 3D-печати позволяет достигать невероятной детализации оболочки. После того, как сосуд Вашего персонажа создан, наши мастера делают всё возможное, чтобы вдохнуть красок в его тело и придать живой облик.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Новости</h2>
        <p>
            Совсем скоро в продажу поступят дьявольские и небожительские кубы. Следите за анонсами в нашем Telegram-канале!
        </p>
    </div>
</div>

{% endblock %}
