{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<main class="links-container">
    <h2>Если Вы хотите больше узнать о НРИ и DnD, то советую ознакомиться с данными фолиантами:</h2>
    <ul class="resources-list">
        <li>
            <a href="https://dnd.su/" target="_blank"><img src="{% static 'app/content/DnDsuFavicon.png' %}" alt="Logo 1" /></a>
            <a href="https://dnd.su/" target="_blank">D&D.su</a> - Крупнейшее русскоязычное сообщество
        </li>
        <li>
            <a href="https://www.dndbeyond.com/" target="_blank"><img src="{% static 'app/content/DnDBeyondFavicon.png' %}" alt="Logo 1" /></a>
            <a href="https://www.dndbeyond.com/" target="_blank">D&D Beyond</a> - Официальный цифровой компендиум
        </li>
        <li>
            <a href="https://roll20.net/" target="_blank"><img src="{% static 'app/content/Roll20Favicon.png' %}" alt="Logo 1" /></a>
            <a href="https://roll20.net/" target="_blank">Roll20</a> - Инструмент для удалённых партий
        </li>
    </ul>
</main>

{% endblock %}