{# app/templates/app/loginpartial.html #}
{% load static %}
<div id="nav-right-block" class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <div class="nav-user">
        <span class="navbar-text">Здравствуй, {{ user.username }}!</span>
        <form id="logoutForm" action="{% url 'logout' %}" method="post" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="nav-action nav-link-button">Выйти</button>
        </form>
        {% if user.is_superuser %}
        <a class="nav-action" href="{% url 'admin:index' %}">Админка</a>
        {% endif %}
    </div>
    {% else %}
    <div class="auth-nav">
        <a class="nav-action" href="{% url 'login' %}">Войти</a>
        <a class="nav-action" href="{% url 'registration' %}">Регистрация</a>
    </div>
    {% endif %}
</div>